$color-text-primary: #282828;
$color-text-secondary: #d0d0d0;
$color-text-attention: #f34e4e;

$color-bg-primary: #f34e4e;
$color-bg-secondary: #ffffff;

$color-graphic-primary: #7bb9fa;
$color-graphic-primary-light: #7bb9fa20;
$color-graphic-secondary: #d0d0d0;
$color-graphic-attention: #f34e4e;
$color-graphic-base: #282828;
